header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 5rem;
  align-items: center;
  padding: 20px;

  .coinslog {
    button {
      margin: 0px;
      font-size: medium;
      &:last-child {
        background-color: rgba(255, 0, 0, 0);
      }
    }
    .logoOutBtn{
      margin: 0px;
      font-size: x-large;
    }
  }

  button {
    background-color: #54c23e;
    cursor: pointer;
    font-weight: 700;
    color: #ffff;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 0.8rem;
  }
  a {
    font-size: 1.8rem;
    color: #54c23e;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

}

.containerG {
  min-width: 100%;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #202024;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  gap: 10px;
}

section {
  display: flex;
  max-height: 100vh;
  margin-top: 7px;
  border-radius: 5px;
  justify-content: space-around;
  background-color: #202024;
  padding: 15px;

  button {
    min-width: 20vw;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    background-color: #1e1e1e;
    border-radius: 4px;
    border: 0.1em solid transparent;
    &:hover {
      color: #54c23e;
      span{
        color: white;
      }
    }
    span {
      color: white;
      margin: 5px;
      font-weight: 700;
    }
  }

  span {
    color: #54c23e;
    transition: 0.2s;
  }
  border-color: #54c23e;
  transition: 0.7s;

  .labelInputs {
    margin: 10px;
  }
  .activeGreen {
    background-color: #54c23e;
  }
}
